*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto','Courier New', Courier, monospace;
    color: white;
}

.body{
    background-color: black;
    height: 100%;
}

.nav{
    width: 80%;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 10%;
    background-color: #232929;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    align-items: center;
}

.home a, .contact-nav a, .about-navbar a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 2px;
}

.about{
    background-image: url(https://dishawgraphy.my.canva.site/dagiwrthwww/videos/6053f3729925d013cec6f2d08778165e.gif);
    background-repeat: no-repeat;
    background-color: black;
    height: 900px;
}

.about-text{
    position: relative;
    top: 150px;
}

.our-story{
    position: relative;
    top: 25px;
    font-size: 105px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
}

.about-para-1, .about-para-2{
    position: relative;
    top: 25px;
    font-size: 23px;
    margin: 0px 15% 0px 15%;
    text-align: center;
}

.about-img-main{
    width: 683px;
    overflow: hidden;
}

.about-img{
    width: 1000px;
    margin: 0px 0px 0px -200px;
}