*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header{
    height: 760px;
    width: 100%;
    color: white;
    background-color: black;
}

.nav{
    width: 80%;
    height: 50px;
    position: relative;
    top: 20px;
    left: 10%;
    background-color: #232929;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    align-items: center;
}

.home a, .contact-nav a, .about a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 2px;
}

.heroimg{
    width: 598.64px;
    height: 598.64px;
    display: inline-block;
    padding-top: 80px ;
    padding-left: 75px;
}

.text{
    display: inline-block;
    position: absolute;
    top: 130px;
    left: 748.64px;
}

.sh-logo{
    width: 317.5px;
    height: 55.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 600;
    background-color: white;
    color: black;
    border-radius: 50px;
}

.dtf{
    width: auto;
    height: 34px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 120.5px;
}

.wctu{
    width: 526px;
    position: absolute;
    top: 205.5px;
    font-size: 49px;
    font-weight: 900;
    line-height: 85px;
}

.rm{
    width: 270px;
    height: 71px;
    border-radius: 45px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    font-size: 21px;
    font-weight: 650;
    position: absolute;
    top: 515.5px;
}

.main{
    color: black;
    background-color: white;
    margin: 0px 30px 0px 30px;
    height: 830px;
}

.second-page-first-row{
    display: grid;
    grid-template-columns: 50% 30%;
    justify-content: space-between;
}

.second-page-text{
    font-size: 95px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    margin: 60px 0px 0px 60px;
}

.second-page-animation{
    height: 381px;
    width: 145px;
    transform: rotate(90deg);
    /* position: absolute;
    top: 709px;
    right: 200px; */
}

.client-review{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    height: 363.55px;
    justify-content: space-evenly;
}

.first-review{
    text-align: center;
    width: 100%;
    height: 363.55px;
    border: 2px solid black;
}

.second-review{
    text-align: center;
    width: 100%;
    height: 363.55px;
    border: 2px solid black;
}

.third-review{
    text-align: center;
    width: 100%;
    height: 363.55px;
    border: 2px solid black;
}

.review{
    font-size: 21.122px;
    width: 294px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    left: 35px;
    text-align: left;
}

.underline{
    width: 350px;
    height: 80px;
}

.client-img-main{
    width: 63.63px;
    height: 63.62px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 35px;
}

.client-img{
    width: 100px;
    margin: -20px 0px 0px -15px;
}

.client-img-2{
    height: 120px;
    margin: -30px 0px 0px -10px;
}

.client-img-3{
    width: 145px;
    margin: -10px 0px 0px -45px;
}

.first-client-name, .second-client-name, .third-client-name{
    line-height: 33px;
    margin-top: -64px;
    height: 63px;
}

.second-client-name{
    margin-left: 25px;
}

.third-client-name{
    margin-right: 15px;
}

.client-name{
    font-size: 24px;
    font-weight: 700;
    position: relative;
    left: 11px;
}

.smi, .fkl, .ptp{
    font-size: 21px;
    font-weight: 350;
    position: relative;
    left: 41px;
}

.fkl{
    left: 11px;
}

.ptp{
    left: 35px;
}

.gtku{
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 659px;
    text-align: center;
}

.shlogotext{
    position: relative;
    top: 60px;
    left: 240px;
}

.get-to-know-us-text{
    font-size: 105px;
    font-weight: bold;
    position: relative;
    top: 160px;
    left: 60px;
    line-height: 90px;
}

.est{
    font-size: 23px;
    font-weight: bold;
    position: relative;
    top: 260px;
    left: 50px;
    text-align: center;
}

.gtku-text{
    font-size: 23px;
    font-weight: 375;
    position: relative;
    top: 300px;
    left: 60px;
}

.gtku-img{
    height: 600px;
    position: relative;
    top: 30px;
}

.fourth-page{
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 800px;
}

.final-img{
    width: 696px;
    height: 758px;
    overflow: hidden;
}

.fourth-page-img{
    width: 1138px;
    height: 758px;
    margin: 0px 0px -50px -350px;
    position: relative;
    bottom: 0px;
}

.fourth-page-text{
    width: 353px;
    height: 452px;
    color: black;
    font-size: 105px;
    font-weight: 700;
    position: relative;
    top: 100px;
    left: 200px;
}

.email{
    text-decoration: none;
    font-size: 23px;
    color: black;
    font-weight: 400;
}

.fa-square-facebook, .fa-square-instagram, .fa-square-x-twitter{
    color: black;
    font-size: 40px;
    position: relative;
    top: -70px;
    left: 60px;
}

.terms{
    color: black;
}

.footer{
    text-align: center;
    color: white;
    background-color: black;
}